/* src/pages/login.css */

.login-container {
  display: flex;
  height: 100vh;
}

.login-left {
  flex: 1;
  background-color: #d0e0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.login-left h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: #0000ff;
}

.login-left p {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
}

.login-right {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-right h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 20px;
}

.input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

.error-message {
  color: red;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}

button {
  background-color: #0000ff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}
