/* Container */
.home-container {
    font-family: 'Arial, sans-serif';
    background: #FFFFFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.home-content {
    background: #F6F6F6;
    padding: 20px;
    border-radius: 0px 0px 50px 50px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100vw;
   
   
    position: relative;
}
.home-elements{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 
}

.home-left {
    max-width: 40%;
    flex: 1;
    padding: 20px;
    text-align: left;
}

.home-left h1 {
    font-size: 3em;
    color: #0000ff;
    margin-bottom: 1em;
}

.home-left-bottom {
    display: flex;
    align-items: center;
}

.explore-path-btn {
    padding: 10px 20px;
    background-color: #0000ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    margin-right: 2vw;
}

.reviews img {
    width: 200px;
    
}

.home-right {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.student-img {
    width: 100%;
    max-width: 30vw;
    position: absolute;
    bottom: 0;
    right: 10%;
    
    /* transform: translate(50%, 50%); */
}

.student-info {
    display: flex;
    /* align-items: center;
    margin-top: 10px; */
    padding: 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    font-size: 1.2em;
    position: absolute;
    bottom: 20vh;
    right: 27vw;
}

.calendar-icon {
    max-width: 30px;
    max-height: 30px;
    margin-right: 10px;
}
.graph-icon{
    max-width: 90px;
    max-height: 90px;
    margin-right: 10px;
    position: absolute;
    bottom: 30vh;
    right: 8vw;
}

.explore-more-btn {
    background: none;
    border: none;
    cursor: pointer;
    transform: translate(0%, -50%);
}

.explore-more-btn img {
    width: 150px;
    height: 150px;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.social-media-icons a img {
    width: 30px;
    height: 30px;
}

.social-media-icons a:hover img {
    filter: brightness(0.8);
}

@media (max-width: 600px) {
    .home-content {
        flex-direction: column;
    }

    .home-left {
        text-align: center;
    }

    .home-right {
        align-items: center;
    }

    .student-img {
        position: relative;
        transform: none;
    }

    .student-info {
        position: relative;
        margin-top: 10px;
        right: 0;
    }
}

/* Footer */
footer {
    width: 100%;
}
