.mentors-container {
  padding: 20px;
  background-color: #f1f4f8;
  border-radius: 30px; /* Adds a rounded shape to the container */
  overflow: hidden;    /* Ensures content inside the rounded container does not overflow */
  max-height: fit-content;
}

.mentors-title {
  font-size: 24px;
  color: #1a1aff;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}

.mentors-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mentor-card {
  width: 250px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.mentor-card:hover {
  transform: scale(1.05);
}

.mentor-photo {
  width: 100%;
  height: 230px; /* Set a fixed height */
  border-radius: 5%; /* Keeps the image shape rounded */
  object-fit: cover;  /* Ensures the image covers the space while maintaining aspect ratio */
}

.mentor-info {
  margin-top: 15px;
}

.mentor-name {
  font-size: 16px;
  font-weight: bold;
  color: #0000ff;
  margin-bottom: 5px;
}

.mentor-role {
  font-size: 14px;
  color: #666;
}

.mentor-rating {
  display: flex; /* Use flexbox to align items horizontally */
  align-items: center; /* Vertically align items */
  margin-top: 10px;
  font-size: 14px;
  justify-content: space-between;
  white-space: nowrap;
  border-top: 2px solid grey;
  padding: 5%;
  align-items: center;

}
.iconRating{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.mentor-star {
  width: 20px; /* Set a fixed width for the star icon */
  height: auto; /* Maintain aspect ratio */
  margin-right: 5px; /* Space between the icon and the text */
}

.rating-text {
  color: #0000ff; /* Color for the rating number */
  font-weight: bold; /* Bold styling for the rating number */
  margin-right: 5px; /* Space between the rating number and the text */
}
