:root {
  --color: #111;
  --primary: #00F0B5;
  --hover-bg: blue;
  --hover-text: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100vw;
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar_logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar_logo img {
  width: 290px;
  height: auto;
  margin-right: 10px;
  margin-top: 3px;
  margin-left: 20px;
}

.nav-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
}

.nav-links li {
  position: relative;
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  transition: all 0.3s ease;
  padding: 10px 15px;
  border-radius: 5px;
  display: block;
}

.nav-links a:hover {
  background-color: var(--hover-bg);
  color: var(--hover-text);
  transition: all 0.3s ease;
}

.login-register {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 10px;
}
.login-register-desktop {
  position: relative;
  display: flex;
  flex-direction: column;
}
.login-register-desktop-icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.dropdown-menu {
  width: 20vw;
  position: absolute; /* Position dropdown below the icon */
  top: 100%; /* Align dropdown below the icon */
  right:0vw; /* Align to the left */
  background-color: white; /* Background color for dropdown */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
  z-index: 1000; /* Ensure dropdown is above other content */
  padding: 10px; /* Padding around dropdown items */
  border-radius: 5px; /* Rounded corners */
}


.login-register-button{
 
  display: flex;
  
  padding: 10px 15px;
  color:blue;
  background-color: white;
  border-radius: 8px;
  border: 1px solid black;
  text-transform: uppercase;
  font-size: 17px;gap: 10px;
  font-weight: 700;
  letter-spacing: 0.1em;
  transition: all 0.2s ease;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: darkblue;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

/* Hamburger icon styling for small screens */
.hamburger {
  display: none; /* Hidden by default, only visible on small screens */
}

.hamburger span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: black;
  margin: 3px 0;
  transition: all 0.3s ease;
}

.login-register-mobile {
  display: none;
}

@media (max-width: 820px) {
  .nav-container {
    display: none; /* Hide nav links on small screens */
  }

  .navbar_logo img {
    width: 230px;

    margin-left: 10px;
  }
  .hamburger {
    display: flex; 
    flex-direction: column;/* Show hamburger on small screens */
    cursor: pointer;
    z-index: 1001;
  }

  .hamburger.active span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0; /* Hide middle bar */
  }

  .hamburger.active span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }

  .nav-container.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 9vh;
    right: 0;
    background-color: rgb(255, 255, 255);
    width: 60%;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    z-index: 999;
  }

  .nav-links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
  
  }

  .nav-links li{
    width: 90%;
    border-top: 1px solid black;
  }

  .login-register {
    display: none; /* Hide login-register on small screens */
  }

  .login-register-desktop {
    display: none; /* Hide desktop login/register on mobile */
  }

  .nav-container.active .login-register-mobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 0px;
    align-items: center;
    justify-content: center;
    
  }

  .login-register-button {
    width: 90%; /* Adjust button width for mobile */
    margin: 0 auto;
    border-radius: 0px;
    border: 0px;
    background-color: white;
    color: black;
    font-weight: 500;
    font-size: 1.0em;
    border-top: 1px solid black;
  }
}



@media (min-width: 821px) {
  .hamburger {
    display: none; /* Hide hamburger on large screens */
    
  }

  .login-register-mobile {
    display: none; /* Hide mobile login/register on large screens */
  }
}
