* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100vw; /* Full width */
  height: 6vh; /* Max height set to 5vh */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: white;
  
 
}

.navbar_logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar_logo img {
  width: 40px;
  margin-right: 10px;
}

.navbar_logo span {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  font-family: exo;
}

.nav-container {
  display: flex;
  flex-grow: 1;
  justify-content: center; /* Centers the nav links */
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-links li {
  margin: 0 30px; /* Adjust gap between links */
}

.nav-links a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
  transition: color 0.3s ease;
  line-height: 5vh; /* Align text vertically */
}

.nav-links a:hover {
  color: blue;
}

.search-icon img {
  width: 30px;
  cursor: pointer;
  align-items: center;
}

.dropdown {
  position: relative;
}

.dropbtn {
  cursor: pointer;
  line-height: 5vh; /* Align text vertically */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  min-width: 150px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: lightgray;
}

.dropdown:hover .dropdown-content {
  display: block;
}
