.social-media-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    margin-right: 120px; /* Add margin to the right */
}

.social-media-icons a img {
    width: 30px;
    height: 30px;
}

.social-media-icons a:hover img {
    filter: brightness(0.8);
}
