.footer {
    background-color: #0000ff;
    color: #ffffff;
    padding: 20px 0;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10%;
    border-top-style: groove;
    
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-left, .footer-right {
    flex: 1;
  }
  
  .footer-logo-title {
    display: flex;
    align-items: center; /* Center the items vertically */
  }
  
  .footer-logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
  }
  
  .footer-title {
    font-size: 24px;
    margin: 0;
  }
  
  .footer-address p, .footer-categories ul, .footer-links ul {
    margin: 10px 0;
  }
  
  .footer-address p, .footer-categories ul li, .footer-links ul li {
    font-size: 14px;
  }
  
  .footer-categories ul, .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-categories ul li, .footer-links ul li {
    margin-bottom: 5px;
  }
  
  .footer-right {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-categories-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .footer-categories, .footer-links {
    flex: 1;
    margin: 0 10px;
  }
  