.footer {
  background-color: #0000ff;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  flex-wrap: wrap;
  /* Increased height for better spacing */
  height: 400px; /* Adjust this value as needed */
}

.footer-section {
  width: 22%;
  min-width: 200px;
  margin-top: 40px; /* Increased margin from the top for each section */
}

.footer-brand {
  display: flex;
  flex-direction: column;
  margin-top: 40px; /* Increased top margin */
}

.footer-logo {
  width: 550px; /* Adjust the width as needed */
  height: auto;
}

p1 {
    font-size: 1em;

    line-height: 1.5;
}


.footer-text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-section h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section address {
  font-style: normal;
  line-height: 1.5;
}

.footer-section address br {
  margin-bottom: 5px;
}

.footer-section .social-icons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

@media (max-width: 768px) {
  .footer-section {
    width: 100%;
    margin-bottom: 20px;
  }
}
