.overview-page {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.overview-container {
  display: flex;
  margin-top: 20px; /* Adjust according to your navbar height */
}

.task-tracker {
  width: 80%; /* Adjust as needed */
  padding: 20px;
  border-right: 1px solid #ccc;
}

.task-detail {
  width: 160%; /* Adjust as needed */
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.task-content {
  flex-grow: 1;
}

.pagination-controls {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  bottom: 0;
  background-color: white;
  padding: 10px 0;
}

.pagination-controls button {
  margin-left: 10px;
  max-width: 10vw;
  background-color: black;
}

.learn, .do {
  margin-bottom: 20px;
}

.learn ul, .do ul {
  list-style-type: disc;
  padding-left: 20px;
}

.assignment-download {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.assignment-download img {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

.resources-section {
  background-color: lightgrey;
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 20px;
}

.resources-section h3, .resources-section h4 {
  margin-top: 0;
}

.submission-section {
  margin-top: 20px;
}
.submission-section button {
  max-width: 10vw;
  background-color: black;
}

.upload-section {
  margin-top: 20px;
}

.upload-section label {
  display: block;
  margin-bottom: 10px;
}

.submission-message {
  color: rgb(28, 247, 28);
  font-weight: bold;
  margin-top: 10px;
}

.focus-icon {
  /* width: 200px;
  height: 200px; */

  margin-top: 20px;
}
